.sidebar {
  width: 20%;
  min-width: 240px;
  max-width: 300px;
  height: 90%;
  max-height: min-content;
  background-color: #ffffff;
  padding: 1.8rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  height: 80vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  overflow: auto;
}

.profile {
  vertical-align: middle;
  text-align: left;
  font: medium;
  margin-top: 0.2rem;
  margin-bottom: 20px;
  align-items: center;
}

.profile-pic {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.menu {
  font-weight: 500;
  list-style-type: none;
  padding: 0;
  margin-top: 2.5rem;
}

.menu li {
  margin-top: 2.2rem;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.menu li svg {
  margin-right: 1rem;
}

.menu li:hover a:hover {
  color: #f79518;
}

.menu li:hover svg {
  color: #f79518;
}

.menu li.active {
  background-color: #f7951833;
  color: #f79518;
}

.menu li.active a {
  color: #f79518;
}

body {
  font-family: "Poppins", sans-serif; /* Apply Poppins font to the body */
  font-size: large;
}
