@tailwind base;
@tailwind components;
@tailwind utilities;

.half-star {
    background: linear-gradient(to right, orange 50%, gray 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
